
.totalPrice {
    border: solid 1px #0275d8;
    background-color:#0275d8;
    border-radius: 5px;
    padding: 5px;
    color: white;
    /* width: 100px; */
}

.finalCard {
    border: solid 1px black;
    width: 700px;
    padding: 20px;
}